body{
    font-family: 'Roboto';
    font-style: normal;
}

a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    color: #725C5C !important;
    font-size: 0.9375em;       
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 22px;
    color: #725C5C;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #ED7839;
    padding-top: 15px;
    padding-bottom: 15px;
}

h4{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: white;    
}

h6{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    color: #725C5C;    
}

p{
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 12px;
    color: black;
}

.m-0{
    color: gray;
}

.PageTrabalhos{
    width: auto;
    height: auto;
    background-color: white;         
}

.tituloTrabalhos{
    width: auto;
    height: auto;
    background-color: #FDF1EB;
    padding-top: 5px;   
    padding-left: 40px; 
}

.marginLateralDireita{
    margin-left: 2vw;
}

.marginLateralEsquerda{
    margin-right: 1vw;
}

.PageVazia{
    width: auto;
    height: 100vh;
    background-color: #FDF1EB;   
    display: none; 
}

.rectangleMenu{    
    width: 220px;
    height: 68px;
    background-image: linear-gradient(#FFB354, #EE7A3A);  
}

.navbar-nav{
    margin-left: -12px; 
    margin-top: -12px;   
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.alignVertical{
    display: flex;    
    align-items: center; 
}

.navbar{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);    
}

li:hover{
    background-color: #FDF1EB;       
}

.btn{
    width: 97px;
    height: 34px;
    background-color: #FDF1EB;
    margin-bottom: 10px;
} 

.btn:hover{    
    background-color: #FDF1EB !important;    
}

.dropdown-item:hover{
    background-color: gray;
}

.btn-orange{
    background-color: #ED7839;  
    width: auto;     
}

.btn-orange:hover{
    background-color: #ED7839 !important; 
    opacity: 0.6;    
}

.size-card-detalhes{
    width: 242px;
    height: 439px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    background: #E7E7E7;  
    border-radius: 4px;    
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    border-radius: 4px;      
}

iframe{    
    height: 439px !important;
}

/*Screen Desktop*/
@media (min-width: 768px) { 
    .navbar {
        position: fixed;
        width: 220px;
        height: 100%;
        align-items: baseline;           
    }

    .Page{        
        padding-left: 250px;
    }

    .navbar-brand{
        display: none;
    }    

    .PageTrabalhos{        
        margin-left: 220px;  
    }
}

/*Screen Mobile*/
@media (max-width: 768px) {     

    .navbar-brand-desktop{
        display: none;        
    }    

    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .navbar-nav{        
        margin-top: 0px;           
        background-color: white !important;
        margin-right: -12px;
        margin-bottom: -12px;
    }

    .navbar{
        background-image: linear-gradient(#FFB354, #EE7A3A) !important;
    }

    .rectangleMenu{
        background-image: none;
    }   

    .tituloTrabalhos{         
        padding-left: 0px; 
    }

    .marginLateralDireita{
        margin-left: 0px;
    }

    .marginLateralEsquerda{
        margin-right: 0px;
    }

    .size-card-detalhes{
        width: auto;
        height: 439px;
    }   
}