body{
    font-family: 'Roboto';
    font-style: normal;
}

a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    color: #725C5C !important;
    font-size: 15px;
    margin-left: 15px;    
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 22px;
    color: #725C5C;
}

h6{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    color: #725C5C;    
}

.m-0{
    color: gray;
}

.PageTrabalhos{
    width: auto;
    height: 100vh;
    background-color: aliceblue;         
}

.tituloTrabalhos{
    width: auto;
    height: auto;
    background-color: #FDF1EB;
    padding-top: 5px;   
    padding-left: 20px; 
}

.PageVazia{
    width: auto;
    height: 100vh;
    background-color: cadetblue;    
}

.rectangleMenu{    
    width: 220px;
    height: 68px;
    background-image: linear-gradient(#FFB354, #EE7A3A);  
}

.navbar-nav{
    margin-left: -12px; 
    margin-top: -12px;   
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,1);    
}

li:hover{
    background-color: #FDF1EB;
    border-left:  5px solid;
    border-image: linear-gradient(#FFB455, #ED7839) 1 100%;    
}

.btn{
    width: 97px;
    height: 34px;
    background-color: #FDF1EB;
} 

.btn:hover{    
    background-color: #FDF1EB !important;
}

.dropdown-item:hover{
    background-color: gray;
}

/*Screen Desktop*/
@media (min-width: 1200px) { 
    .navbar {
        position: fixed;
        width: 220px;
        height: 100%;
        align-items: baseline;           
    }

    .Page{        
        padding-left: 250px;
    }

    .navbar-brand{
        display: none;
    }    

    .PageTrabalhos{        
        margin-left: 220px;  
    }
}

/*Screen Mobile*/
@media (max-width: 1200px) {     

    .navbar-brand-desktop{
        display: none;        
    }    

    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .navbar-nav{        
        margin-top: 0px;           
        background-color: aliceblue !important;
        margin-right: -12px;
        margin-bottom: -12px;
    }

    .navbar{
        background-image: linear-gradient(#FFB354, #EE7A3A) !important;
    }

    .rectangleMenu{
        background-image: none;
    }   
}